.btn-slider {
  display: inline-block;
  width: 300px;
  text-align: center;
  &__left {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: solid 1px #eaeaea;
    background-color: white;
    cursor: pointer;
  }

  &__right {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: solid 1px #eaeaea;
    background-color: white;
    margin-left: 12px;
    cursor: pointer;
  }

  &_position {
    position: relative;
    top: 10px;

  }

  &__left_display {
    display: inline-block;
  }
}