.stepTwo {
  text-align: center;
  width: 624px;
  height: 834px;

 &__select-student {
   margin-top: 24px;
 }
  &__block_background {
    background-color: #fb779f;
  }

  &__login-titles_margin {
    margin-top: 20px;
  }

  &__icon {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 10px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 32px 32px;
    box-sizing: border-box;
    border-radius: 32px;
    border: solid 2px #eaeaea;
    cursor: pointer;
    width: 624px;
    height: 240px;
  }

  &__icon-block {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: #52c3ff;
    border-radius: 24px;
  }

  &__icon-block_color {
    background-color: #fb779f;
  }

  &__login-titles_margin {
    margin-top: 5px;
  }

}


.stepTwo input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.stepTwo input:checked ~ .stepTwo__label {
  border-color: #52c3ff;
}